*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
    overflow-x: hidden;
    overflow-x: hidden;
    
}
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
}
nav ul li a:hover{
    color: #007bff;
}
nav ul li a i{
    margin-right: 5px;
}
button{
    padding: 5px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    left: 80px;
}
/* MON CONTAINER    */
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px;
    
    
}
/* la section de mon article */
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
/* mon article */
.article{
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    
}

/* image de l'article */
.article img{
    width: 300px;
    height: 290px;
    object-fit: cover;
}

/* detail de l'article prix et panier d'achat */ 
.detail_article{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}


/* mon footer */
footer{
    height: 80px;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
/* Bouton de recherche */
.seach-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -30px;

    
    
    
    
}
.search-box input{
    flex-basis: 00px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    background-color: transparent;

}
.search-box input:focus{
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
    transform: scale(1.06);
    transition: 0.5s ease;
}
.search-box input::placeholder{
    color: #4d4b4b;
    font-size: 15px;
    font-family: Arial;
    font-weight: 500;
    
}
.search-box button{
    flex-basis: 50px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 50px;
    z-index: -1;
    
}

/* ..........login user */
.login-user{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(125, 184, 184, 0.984);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 0 5px 1px rgb(87, 3, 3);
    margin-top: 80px;
    transition: 0.5s ease-in;
    
}
.login-user:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in;
     background-color: #64A5BB;
}
.login-user input{
    margin: 20px;
    color: #fff;
    font-size: 20px;
   
}
h1{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}